html, body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

.project-page {
  height: 100vh;
  width: 100%;
  background-color: teal;
}

.project-page h1 {
  
}

.project-page h2 {

}

.back-to-main {

}

