html, body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

#main-wrapper {
  display: flex;
  flex-direction: column;
}

/* Welcome Section CSS*/
#welcome-container {
  display: flex;
  flex-direction: row;
  align-items: left;
  padding-left: 5%;
  padding-top: 150px;
  padding-bottom: 325px;
  text-align: left;
  background: #f1faee;
}

#welcome-container h1 {
  flex: 0.7;
  font-size: 6rem;
  transition: all .2s ease-in-out;
}

@media screen and (max-width: 500px) {
  #welcome-container h1{
    font-size: 2rem;
    flex: 1;
  }
}

#welcome-container h1:hover {
  transform: scale(1.1);
}

/* Home Section CSS */
#profile {
  display: flex;
  flex-direction: column;
}

#profile-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#profile-image-container h1 {
  font-size: 4rem;
}

#profile-image {
  border-radius: 100em;
  max-width: 100%;
  height: 20vw;
  border-width: 0.2em;
  border-style: solid;
  margin-top: 100px;
  transition: 0.15s ease-in-out
}


#profile-image:hover {
  opacity: 0.8
}

#profile-facts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
  padding: 0px 5% 0px 5%;
}

.profile-para {
  flex: 0.3;
  display: inline-block;
}
#profile-facts p {
  flex: 0.3;
  font-size: 2rem;
  transition: all .2s ease-in-out;
}

#profile-facts p:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 800px) {
  #profile-image {
    height: 80vw;
  }
  #profile-image-container h1 {
    font-size: 2rem;
  }
  #profile-facts {
    display: flex;
    flex-direction: column;
  }
  .profile-para {
    margin: 0em 0px 2em 0px;
  }

  #profile-facts p {
    display: inline-block !important;
    font-size: 1rem;
    margin: 0px;
  }
}


/* My Work Section CSS */
#portfolio {
  display: flex;
  flex-direction: column;
  margin: 200px 0px 200px 0px
}

#work-header {
  font-size: 4rem;
  padding: 0px 5% 50px 5%;
}

#all-info-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
  grid-auto-rows: 1fr 1fr;
  grid-column-gap: 3em;
  grid-row-gap: 3em;
  padding: 0px 3% 0px 3%;
  justify-content: center;
}

#exp-detail-container {
  grid-row-start: 1;
  grid-row-end: 3;
  height: 100%;
}


#education-container {
  transition: all .2s ease-in-out;
}

#education-container:hover > #school-container-text {
  transform: scale(1.1);
}

#school-container-text {
  display: flex;
  flex: 1;
  flex-direction: column;
  transition: all .2s ease-in-out;
  margin: 50px;
}

#school-container-text p, .subtitle h3 {
  padding: 0px;
  margin: 0px;
}

.school-container-header {
  font-size: 1.5em;
}

.subtitle {
  font-style: italic;
}

#exp-detail-container hr {
  margin: 0px 5% 0px 5%;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 0px;
}


.skill-container-header {
  font-size: 1.5em;
  margin: 50px 50px 20px 50px;
}

#skill-container-text:hover {
  transform: scale(1.1);
}

#skill-container-text {
  display: flex;
  flex: 1;
  flex-direction: column;
  transition: all .2s ease-in-out;
  margin: 0px 50px 30px 50px;
}


.skill-container-header p, #skill-container-text p, .subtitle h3 {
  padding: 0px;
  margin: 0px;
}

.skill {
  font-weight: 800;
}

.info-card-container {
  height: 100%;
}

.info-card-text {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 50px;
  transition: all .2s ease-in-out;
}

.info-card-container:hover > .info-card-text {
  transform: scale(1.1);
}

.info-card-header {
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  
}

.info-card-text p {
  margin: 0px;
  padding: 0px;
}
.subtitle {
  font-size: 1em;
  padding-bottom: 1em;
}


@media screen and (max-width: 500px) {
  #portfolio {
    margin: 2rem 0px;
  }
  #work-header {
    font-size: 3rem;
  }
  #exp-detail-container {
    height: 100%;
  }
  #all-info-cards {
    grid-column-gap: 0em;
    grid-row-gap: 0em;
    padding: 0px 0% 0px 0%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
    grid-auto-rows: 0.6fr
  }
  .info-card-text {
    padding: 0px !important;
    margin: 2em 3em !important;
  }
}

/* Projects Section CSS */

#all-project-cards {
  display: flex;
  flex-direction: column;
}

#project-header {
  font-size: 2.5em;
  padding-left: 5%;
}

#project-sections {
  display: flex;
  flex-direction: column;
}

/* Project Section CSS */
.project-card-left {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 10em 5% 10em 5%;
}

.project-image-left {
  display: flex;
  justify-content: center;
  flex: 0.3;
}

.project-image-left img {
  width: 60vw;
}

.project-details-left {
  display: flex;
  flex-direction: column;
  flex: 0.7;
  justify-content: center;
  padding: 0px 5% 0px 5%;
}

.project-details-left h1, .project-details-left h2, .project-details-left p {
  margin: 0px;
  padding: 0px;
}

.project-details-left p {
  margin: 30px 0px 30px 0px;
}

.project-details-left button {
  width: 30%;
  padding: 10px 5% 10px 5%;
}

.project-details-left button:hover {
     color:#000000;
     background-color:#FFFFFF;
}

.project-card-right {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 10em 5% 10em 5%;
}

.project-image-right {
  display: flex;
  justify-content: center;
  flex: 0.3;
}

.project-image-right img {
  width: 60vw;
}

.project-details-right {
  display: flex;
  flex-direction: column;
  flex: 0.7;
  justify-content: center;
  padding: 0px 5% 0px 5%;
}

.project-details-right h1, .project-details-right h2, .project-details-right p {
  margin: 0px;
  padding: 0px;
}

.project-details-right p {
  margin: 30px 0px 30px 0px;
}

.project-details-right button {
  width: 30%;
  padding: 10px 5% 10px 5%;
}

.project-details-right button:hover {
     color:#000000;
     background-color:#FFFFFF;
}


.project-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  transition: all .2s ease-in-out;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 0px 0px 0px 0px;
  cursor:pointer; 
  box-sizing: border-box;
}

.project-link:hover {
  background-color: white;
  color: black;
  border-color: rgba(0, 0, 0, 0.3);
}

.project-link:hover .arrow-white {
  filter: brightness(1) invert(0);
}

.project-link p {
  margin: 0px;
  padding: 0px;
  font-family: 'Maison mono', sans-serif;
  font-weight: 700;
  letter-spacing: -0.3px;
  font-size: 15px;
}
.project-link img {
  height: 25px;
}

.arrow-black {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
}

.arrow-white {
  filter: brightness(0) invert(1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  transition: all .2s ease-in-out;
}

.learn-more {
  color: inherit;
  text-decoration: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 3px 10px 3px
}

@media screen and (max-width: 800px) {
  #project-header {
    font-size: 1.3rem;
  }
  .project-image-left img, .project-image-right img{
    height: 50vw !important;
    padding-bottom: 5em;
  } 
  .project-details-left, .project-details-right {
    padding: 1em;
    flex: 1;
  }
  .project-details-left h1, .project-details-right h1 {
    font-size: 1.5rem;
  }
  .learn-more {
    padding: 0em 2em;
  }
}

/* Contact Page CSS */

#contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 5% 100px 5%;
  background-color: white;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

#contact-text {
  text-align: center;
  margin-bottom: 0em;
}

#contact-text h1, #contact-text p {
  padding: 0.2em;
  margin: 0.2em;
}

#icons {
  padding: 2em 0px;
  margin: 1em 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

/* Social Icon CSS  */
.social-icon{
  margin: 0em 1em;
  padding: 1px;
  height: 58px;
  width: 58px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0.5em solid white;
  border-radius: 100em;
  box-sizing: border-box;
  transition: 0.1s ease-in-out;
}

.social-icon a{
  padding:0px;
  margin: 0px;
}

.social-icon:hover {
  background-color: black;
  border: 0.1em solid black;
  border-radius: 100em;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1000em;
  transition: 0.1s ease-in-out;
}
.icon:hover {
  filter: brightness(0) invert(1);
  border-radius: 1000em;
  
}


#copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  color:rgba(0, 0, 0, 0.3);
}

#copyright p {
  padding: 0px;
  margin: 0px;
}
#copyright img {
  height: 1vw;
  width: auto;
  padding-left: 0.5em;
}


/* Navbar CSS */
#navbar {
  position: fixed;
  z-index: 1;
  width: 100%;
  text-align: right;
  padding: 10px 0px 10px 0px;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 500px) {
  #navbar{
    text-align: center;
  }
  .navbtn {
    padding: 5px 10px !important;
    margin: 0px 5px !important;
  }
}

#navbar .active {
  color: rgba(0, 0, 0, 0.3);
}

#nav-items {
  animation: 1.2s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.navbtn {
  margin: 0px 5px;
  padding: 5px 20px 5px 0px;
  display: inline;
  transition: 0.15s ease-in-out;
  text-decoration: none;
}


.navbtn:hover {
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}



/* Poga Page CSS */
.project-page {  
  background-color: teal;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 5rem 17.5% 5rem 17.5%;
  box-sizing: border-box;
}
.project-page h1, .project-page h2, .project-page p{
  padding: 0px;
  margin: 0px;
}
.project-page h1 {
  font-size: 5em;
}
.project-page h2 {
  font-size: 2em;
}

.project-page p {
  font-size: 1em;
  margin: 1rem;
}
.project-page-image {
  display: flex;
  flex: 0.3;
  align-items: center;
  justify-content: center;
}

.project-page-image img {
  width: 50%;
  height: auto;
}

.project-page-all-sections {
  margin: 3rem 0 3rem 0;
}

.project-page-all-sections hr {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 0px;
  flex: 1;
}

.project-page-overview, .project-page-motivation, .project-page-tech {
  margin: 2rem 0rem 1.5rem 0rem;
  display: flex;
}

.project-section-header {
  width: 15%;
  margin: 0px 10rem 0px 0rem;
  box-sizing: border-box;
}

.project-section-para {
  flex:0.7
}

@media screen and (max-width: 500px) {
  .project-page-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0rem 3rem 0rem;
  }
  .project-page-image img {
    width: 100%;
    height: auto;
  }

  .project-page-overview, .project-page-motivation, .project-page-tech {
    margin: 2rem 0rem 1.5rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .project-section-header {
    width: 100%;
    margin: 0px 0rem 0px 0rem;
    box-sizing: border-box;
    text-align: center;
  }
  .project-page p {
    font-size: 1em;
    margin: 1rem 0rem 1rem 0rem;
  }
}