html {
  scroll-behavior: smooth;
}

.title {
  background-color: #e5e5e5;
  padding: 75px 0px 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title h2{
  width: 80%;
}
h1, h2, h3 {
  text-align: center;
}

h2 {
  border-bottom: 2px solid;
  font-size: 50px;
}

button {
  cursor:pointer;
}
.container {
  font-family: B612;
  color: black;
  display: flex;
}

/* Navigation/header CSS*/
#navigation {
  height: 100%;
  width: 0px;
}

#header {
  position: fixed;
  height: 100%;
  border: 0px;
  top: 0;
  left: 0;
  padding: 10px;
}

/* All sections */
#all-sections {
  width: 100%;  
}

.section1 {
  display: flex;
  place-content: center;
  text-align: center;
}

.section2 {
  display: flex;
  place-content: center;
  text-align: center;
  background-color: #ffffff;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 1200ms ease-out, transform 600ms ease-out,
    visibility 1200ms ease-out;
  will-change: opacity, transform, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
  width: 100%;
}


@keyframes fadeInAnimation { 
  0% { 
      opacity: 0; 
  } 
  100% { 
      opacity: 1; 
   } 
}

@keyframes fadeInAnimationDelay { 
  0% { 
      opacity: 0; 
  } 
  66% { 
    opacity:0; 
  }
  100% { 
      opacity: 1; 
   } 
}
/* Welcome Container CSS*/
#welcome {
  background-image: url(./Philly.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 1000px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.welcomeContainer {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.welcome {
  flex: 50%;
  align-items: center;
  font-size: 100px;
  color: white;
  animation: fadeInAnimation ease 3s; 
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
  text-shadow: 1px 1px black;
}

.enterButton {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  word-break: center;
  animation: fadeInAnimationDelay ease 3.5s; 
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
}

#enter {
  background-color: transparent;
  border-radius: 100%;
  border-color: transparent;
  outline: transparent;
}

#enter:hover {
  outline: transparent;
}

#arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0%;
  border-color: transparent;
  transition: 1s;
  border-color: transparent;
  outline: transparent;
}

#arrow:hover {
  border-radius: 100%;
  border-color: transparent;
  transition: 1s;
  border-color: transparent;
  outline: transparent;
  transition: 0.5s;
  filter: brightness(0) invert(1);
}

/* Home CSS */
#home {
  display: flex;
  min-height: 1000px;
  justify-content: center;
  align-items: center;
}
.home {
  display: flex;
  flex-direction: column;
}

.home h2 {
  font-size: 80px;
}

.home p{
  font-size: 33px;
}
.profile{
  display: flex;
}

.profile-image-container {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.profile-image {
  border: 5px solid;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 10px;
  transition: 0.3s;
  width: 80%;
}

.profile-image:hover {
  opacity: 0.4
}
.profile-facts {
  justify-content: center;
  align-items: center;
  flex: 50%;
  text-align: left;
  padding: 20px;
  margin: 10px;
}




/* Elements in Portfolio */

.company {
  width: 100px;
  vertical-align: middle;
}




#header button {
  border: 0px;
  outline:none;
  position: sticky;
  background-color: transparent;
  z-index: 100;
}

#x {
  width: 50px;
  border: 0px;
  border: none;
  outline:none;
  background-color:transparent;
  margin-left: 20px;
}

#close {
  margin-top: 15px;
}


/* Education */
#education h2{
  width: 100%;
}
#education {
  display: flex;
}

.education {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0px 100px 0px;
}

.School {
  display: flex;
  width: 70%;
  margin: 20px;
  text-align:left;
}

.school-image {
  display: flex;
  flex: 20%;
  justify-content: center;
  align-items: center;
  margin: 10px;
  
}

.school-image img {
  max-height: 100px;
}

.school-details {
  flex: 80%;
  margin: 10px;
  padding: 20px;
}

.school-details h2 {
  font-size: 30px;
}

#relevant-courses {
  width: 60%;
  height: 0px;
  overflow-x: hidden;
  transition: 1s;
}

#relevant-courses ul,li {
  text-align: left;
}

#relevant-courses h2 {
  font-size: 30px;
}

#courseToggle {
  padding: 10px;
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid;
  outline:none;
  transition: 0.3s;
}

#courseToggle:hover {
  padding: 10px;
  background-color: #62929e;
  border-radius: 8px;
  border: 1px solid;
  outline:none;
}


/* SideBar */
.navLinks {
  margin-top: 30px;
  
}

.sidebar {
  z-index: 1;
  height: 100%;
  width: 0px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #546a7b;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #2f2f2f;
  display: block;
  transition: 0.5s;
}

.sidebar a:hover {
  color: #f1f1f1;
  background-color: #62929e;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* Flip Cards */
.flip-card {
  height: 500px;
  width: 500px;
  perspective: 1000px;
  margin-bottom: 100px;
  background-color: transparent;
}

.flip-card-inner {
  position: relative;
  height: 500px;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0px 0px 0px 0px rgba(109, 35, 35, 0.1);
  background-color: transparent;
  border-style: transparent;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  background-color: #89bef0;
  position: absolute;
  width: 100%;
  height: 500px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: solid;
  border-radius: 20px;
  text-align: center;
  color: #2f2f2f;
}

.flip-card-back {
  color: #2f2f2f;
  transform: rotateY(180deg);
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row; 
}

.col {
  flex: 50%;
  margin-top: 100px;
  align-self: center;
  height: 100%;
  align-items: center;
  display:flex;
  justify-content: center;
}

.but {
  size: 100px;
}

h5 {
  margin-top: 600px;
  text-align: center;
  color: white;
}
/* Contact Me Section */
#contact {
  background-color: #62929e;
}

.contact {
  padding: 100px 0px 100px 0px;
}


.socialIcon{
  margin: 10px;
  display: inline-block;
  margin-left: 80px;
  margin-right: 80px;
  /* -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  padding: 10px; */
}

.socialIcon:hover {
  cursor: pointer;
  animation-name: bounce;
  /* -moz-animation-name: bounce; */

}
.icon-background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 100%;
  width: 48px;
  height: 48px;
  transition: 0.5s;
}
.icon-background:hover {
  background-color: black;
  border-radius: 100%;
  transition: 0.5s;
  width: 48px;
  height: 48px;
  transition-timing-function: ease-in;
  transition-timing-function: ease-out;
}
.icon {
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon:hover {
  transition: 0.5s;
  filter: brightness(0) invert(1);
}

@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}

#icons {
  margin-bottom: 50px;
}


.project-card {
  display: flex;
  flex-direction: row;
  width: 600px;
  justify-content: space-between;
  margin: 0px 0px 0px 0px;
  transition: 0.5s;
  border-radius: 15px;
  border: 1px solid rgba(0,0,0,0.2);
  padding: 20px;
  min-height: 400px;
}

.project-card:hover {
  box-shadow: 0px 10px 10px 20px rgba(0,0,0,0.1);
  transition: 0.3s;
}
@media (max-width: 1500px) {
  .project-card {
    flex-direction: column;
  }
  .row {
    flex-direction: column;
  }
  .School {
    flex-direction: column;
  }
}

.project-image {
  flex: 20%;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 10px;
}

.project-details {
  flex: 80%;
  text-align: left;
  word-wrap: break-word;
}

.project-details h2 {
  text-align: center;
  font-size: 30px;
}

.project-image img {
  max-width: 150px;
  max-height: 150px;
}

.project-details {
  flex: 80%;
}

#all-projects {
  display: flex;
  background-color: white;
  padding: 50px 0px 100px 0px;
}


.all-project-cards{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.all-project-cards h2{
  width: 100%;
}

li {
  margin: 20px 0px 0px 0px;
}